.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../imgs/Menu.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao{
    display: none;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__item, .lista-menu__titulo{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: var(--font-weight-bold);
}

.lista-menu__link{
    color: var(--azul);
    text-decoration: none;
    text-transform: uppercase;
}

.container__titulo, .opcoes{
    display: none;
}

.container__item__descricao{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-josefin-sans);
        font-size: 30px;
    }
    
    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente, .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
    }
    
    .lista-menu{
        width: 27vh;
    }
}

@media screen and (min-width:1328px){

    .container__item{
        display: flex;
        align-items: center;
        margin-right: 2em;
    }
    .container__item__descricao{
        display: block;
        color: var(--preto);
        text-decoration: none;
    }

    .lista-menu__item:hover{
        background-color: transparent;
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover ~ .lista-menu__link{
        color: var(--branco);
    }
}